@import url('https://fonts.googleapis.com/css?family=Doppio One');


/* This is the map container */
* {
  font-family: "Doppio One", sans-serif; 
  margin: auto
}

#map-container {
    height: 90vh;
    width: 50vw;
    flex: 2;
   
}

/* This is the header */
#header-container {
    display: flex;
    height: 10vh;
    justify-content: center;
    font-family: "Doppio One", sans-serif; 
    background-color: #066634
}

/* This is the sidebar*/
#restList {
    display: flex;
    height: 90vh;
    width: 15vw;
    background-color: #2EB36D;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    

}

/* this is a single restaurant sidebar */
.restInfo {
    display: flex;
    height: 90vh;
    width: 15vw;
    background-color: #2EB36D;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#phone-number {
  margin-bottom: 40px;
}

#notes {
  text-align: center;
}


/* a container for the map and the sidebar */ 
.main  {
    display: flex;
    height: 90vh;
    width: calc(99vw - 2px);
    border: 1px solid black;
    justify-content: space-evenly;
}

/* this is addressing the restaurant links */ 
.links {
    font-style: black;
    text-decoration: none;      
}

/* footer begins here */
.footerwrapper {
  display: flex;
  height: 40vh;
  width: 99vw;
  justify-content: center;
  
  background-color: #059B59;
}

.footerwrapper-rest {
    display: flex;
    height: 40vh;
    width: 99vw;
    justify-content: flex-start;
    
    background-color: #059B59;
 }

 .footer {
   display: flex;
   height: 40vh;
   width: 50vw;
   flex-direction: column;
   justify-content: center;
 }
 .footer-title {
  display: flex;
  width: 50vw;
  height: 8vh;
  justify-content: center;
}

 .footer-title-rest {
   display: flex;
   width: 50vw;
   height: 8vh;
   justify-content: flex-start;
 }

/* left side of the footer items */
 .footer-left {
   display: flex;
   height: 30vh;
   width: 50%; 
 }

/* right side of the footer items*/
 .footer-right {
   display: flex; 
   height: 30vh; 
   width: 50%;
   flex-direction: column;  
 }

/* this wraps the bottom items so we can target them and move accordingly */
 .footer-bottom-wrap {
   display: flex;
   flex-direction: row;
   width: 50vw;
 }

/* this contains the on the left side of the footer - Name, email, leave a message box */
 .footer-info {
   display: flex;
   width: 100%;
   flex-direction: column;
 }

 /* name box */ 
 .data-box {
   width: 65%;
 }

/* email box */
.data-info-wrap {
 display: flex;
 padding-bottom: 10px;
}

/* submit button */
.submit {
 height: 5vh;
 width: 45%;
 background-color: #FAEFBB;
 color: #6B5B59;
 margin-top: 20px;
}

/* this wraps the icons */ 
.icon-wrap {
 height: 20vh;
 width: 100%;
display: flex;
margin-top: 20px;
}
/* icons left */
.icons-left {
 display: flex;
 height: 100%;
 width: 65%;
 margin-right: 25px;
 flex-direction: column;
 font-size: 12px;
 justify-content: space-evenly;
}
/* icons right */ 
.icons-right {
 display: flex;
 height: 100%;
 width: 50%;
flex-direction: column;
font-size: 12px;
justify-content: space-evenly;
}
/* turned icons into a class here so I can target them all at once */
.icons {
 height: 3vh;
 width: 2vw;
 

}
/* this is wrapping contents of each icon so text pairs nicely */ 
.icon-wrapper {
 display: flex;

}


